@page "/List/{Id}"

@using Listform_Manager.Entities
@using Listform_Manager.Localization
@using Listform_Manager.Services.AppService
@using Listform_Manager.Services.Dtos
@using Volo.Abp.Application.Dtos
@using Microsoft.Extensions.Localization
@using Volo.Abp.Domain.Repositories
@using Volo.Abp.Users
@inject IStringLocalizer<Listform_ManagerResource> L
@inject ICurrentUser CurrentUser
@inherits Listform_ManagerComponentBase

<Card>
    <CardHeader>
        <h2>@L[Listform == null ? "" : Listform.Caption]</h2>
    </CardHeader>
    <CardBody>
        @if (CurrentUser.UserName != null)
        {
            <DataGrid Data="@Rows"
                      ShowPager="true">
                <DataGridColumns>
                    @if (ListformFields != null)
                        {
                            @foreach (var Field in ListformFields)
                            {
                                <DataGridColumn 
                                    Field="@Field.FieldName" 
                                    Caption="@L[Field.Caption]">
                                </DataGridColumn>
                            }
                        }
                </DataGridColumns>
            </DataGrid>
        }
        else
        {
            <p><em>@L["Error:PleaseLogin"]</em></p>
        }
    </CardBody>
</Card>